{% extends 'blogs/base.html' %}

{% block title %}Blogs{% endblock %}

{% block content %}


    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if blogs %}
                    {% for blog in blogs %}
                        <div class="post-preview">
                            <a href="{% url 'detail' blog.id %}">
                                <h2 class="post-title">
                                    {{ blog.title }}
                                </h2>
                                <h3 class="post-subtitle">
                                    {{ blog.text|truncatechars:58 }}
                                </h3>
                            </a>
                            <p class="post-meta">Posted by
                                <a href="#">Furkan Durmaz</a>
                                on {{ blog.created_date|date:"d F Y - H:i" }}</p>
                        </div>
                        <hr>
                    {% endfor %}
                {% else %}
                    <p>No blogs found.</p>
                {% endif %}


                <!-- Pager -->
            </div>
            <div class="col-lg-4">

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="/" {% if request.GET.category == null %} class="font-weight-bold"{% endif %}>All</a>
                                {% for category in categories %}
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="?category={{ category.id }}"
                                                    {% if request.GET.category == category.id|slugify %}
                                               class="font-weight-bold"{% endif %}> {{ category.title }}</a>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}